@import "geral.scss";
//---CONTENT---
.content {
    .releases1,
    .releases2 {
        position: relative;
        .arrow:hover {
            @include transition();
            cursor: pointer;
        }
        .arrow {
            position: absolute;
            top: 33%;
        }
        .arrow:nth-child(3) {
            left: 0;
        }
        .arrow:nth-child(4) {
            right: 0;
        }

    }
    padding: 0 3rem;
    h2 {
        color: $color2;
        display: inline;
    }
    .title-icon {
        display: inline;
        margin-right: 5px;
    }
    .partners {
        position: relative;
        .arrow {
            position: absolute;
            top: 35%;
            cursor: pointer;
        }
        .arrow:nth-child(1) {
            left: 0;
        }
        .arrow:nth-child(2) {
            right: 0;
        }
        .arrow:hover,
        a:hover {
            @include transition();
        }
    }
    .partners-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
    }
    .products1,
    .products2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 3rem;
        text-align: center;
        a {
            color: black;
            text-transform: uppercase;
            font-size: 1rem;
        }
        a:hover {
            text-decoration: underline;
        }
        img {
            @include image-center();
        }
        img:hover {
            @include transition();
        }
    }
    .product-banner {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        position: relative;
        img {
            @include image-center();
            width: 100%;
        }
        .button {
            top: 70%;
        }
        div:nth-child(1) {
            .button:nth-child(2) {
                position: absolute;
                left: 13%;
            }
        }
        div:nth-child(2) {
            .button:nth-child(2) {
                position: absolute;
                right: 13%;
            }
        }

    }

}

.overlay {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    z-index: 3;
    width: 100%;
    display:none;
    .quick-view {
        padding: 2rem;
        background: white;
        height: 100vh;
        width: 1150px;
        display: flex;
        margin: 0 auto;
        position:relative;
        z-index:1000;
        .close{
            color:grey;
            font-size:2rem;
            position:absolute;
            top:2%;
            right:2%;
            cursor:pointer;
        }
        .close:hover{
            @include transition();
        }
        .product{
            h2{
                a{
                    color:black;
                }
                a:hover{
                    color:black;
                    text-decoration: underline;
                    transition:none;
                }
            }
        }
        .product-quick-view {
            margin-right: 2.8rem;
            position:relative;
            img{
                border:1px solid rgba(0,0,0,0.1);
                cursor:pointer;
            }
            img:nth-child(2){
                display:none;
                position:absolute;
                bottom:43%;
                right:9%;
            }
            div:nth-child(3){
                display:flex;
                justify-content: space-between;
                img{
                    width:79px;
                    height:81px;
                }
                img:hover{
                    @include transition();
                }
            }
        }
        .product {
            position: relative;
            a:hover {
                color: #3193DE;
                @include transition();
            }
            .description {
                h3 {
                    font-weight: normal;
                    font-size: 1rem;
                }
                p {
                    color: $color2;
                    font-size: 13px;
                    margin: {
                        top: 1rem;
                        bottom: 1rem;
                        left: 5px;
                    }
                }
                a {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: $color2;
                    font-weight: bolder;
                }
            }
        }
        .shop-button {
            background: $button-color2;
            display: block;
            width: 374px;
            padding: 18px;
            font-size: 20px;
            text-transform: uppercase;
            margin: 1rem 0;
        }
        .inner-products {
            justify-content: flex-start;
        }
    }
}
