//--VARIAVEIS--
$color1: #101883;
$color2: #686868;
$button-color: #e7ab27;
$button-color2: #61ac28;
$button-color-hover:#e5ba5e;

//--MIXINS--
@mixin image-center() {
    display: block;
    margin: 0 auto;
}

@mixin transition() {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0.5;
}

//---GERAL---
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato";
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.header-topo a:hover {
    text-decoration: underline;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
}

.display {
    display: block;
}

.button {
    background: $button-color;
    padding: 1rem 2rem;
    color: white;
    border-radius: 4px;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.button:hover {
    background: $button-color-hover;
}

.product {
    p {
        span {
            font-weight: bolder;
        }
    }
    p:nth-child(4) {
        text-decoration: line-through;
        color: $color2;
    }
    p:nth-child(5) {
        font-size: 17px;
    }
    p:nth-child(6) {
        font-size: 14px;
    }
    p:nth-child(7) {
        font-size: 13px;
        color: #2c4390;
        margin-bottom: 10px;
    }
    span:nth-child(8) {
        background: #FBD4D5;
        color: #DF6B6D;
        border: 1px solid #DF6B6D;
        padding: 0 12px;
        font-weight: bolder;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    input {
        width: 22px;
        height: 22px;
        border-radius: 2px;
        border: 1px solid $color2;
        margin-left: 6px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.shop-button {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    text-align: center;
    color: white !important;
    font-weight: bolder;
    line-height: 1;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
}

.shop-button:hover {
    @include transition();
    text-decoration: none !important;
}


.inner-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 0;
    span {
        color: $color2;
        cursor: pointer;
    }
    .color-squares {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        div {
            margin: 0 6px;
            cursor: pointer;
        }
        div:hover {
            @include transition();
        }
        div:nth-child(1) {
            height: 27px;
            width: 27px;
            background: #8f88ba;
        }
        div:nth-child(2) {
            height: 27px;
            width: 27px;
            background: #dc9c7c;
        }
        div:nth-child(3) {
            height: 27px;
            width: 27px;
            background: #9d6da5;
        }
        div:nth-child(4) {
            height: 27px;
            width: 27px;
            background: #801815;
        }
        div:nth-child(5) {
            height: 27px;
            width: 27px;
            background: #898013;
        }
    }


}
