//---HEADER---
header {
    background: url(../img/bg-header.jpg);
    font-size: 14px;
    .menu-mobile {
        background: #101883;
        width:100%;
        position:absolute;
        z-index:4;
        top:30%;
        left:0;
        display:none;
        a{
            color:white;
            display:block;
            padding:1rem;
            text-align:center;
        }
        a:hover{
            text-decoration:none;
            background:white;
            color:#101883;
        }
    }
    .button-mobile{
        display:none;
    }
    .header-topo {
        padding-top:28px;
        div:nth-child(3){
            display:flex;
            justify-content:flex-end;
        }
        div:nth-child(2){
            align-items:center;
            justify-content: space-between;
        }
        img.logo {
            width: 295px;
            display: block;
            @include image-center();
        }
        img.icon {
            display: inline;
            width: 18px;
            height: 18px;

        }
        a {
            color: #101883;
            margin-left: 8px;
        }

    }

    .header-bottom {
        padding:2rem 0;
        img {
            width: 30px;
        }
        a.social:hover {
            @include transition();
        }
        form {
            width:100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            input[type="text"] {
                border: none;
                padding: 15px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                width: 100%;
                position: relative;
            }
            button[type="submit"] {
                margin-left: -1px;
            }
            button {
                background: white;
                border: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 0 10px;
                cursor: pointer;
            }
            input,
            button {
                height: 50px;
            }
        }
        .hover:hover {
            cursor: pointer;
            color: white;
        }
        .hover {
            color: $color1;
            padding-bottom: 0.8rem;
            svg {
                font-size: 2rem;
                display: block;
                margin: 0 auto;
            }
        }
        .login-shop {
            position: relative;
            .login {
                background: white;
                width: 150px;
                position: absolute;
                top: 50%;
                right: 30%;
                text-transform: uppercase;
                font-size: 12px;
                z-index: 1;
                -webkit-box-shadow: 1px 10px 15px #242424;
                box-shadow: 1px 10px 15px #242424;
                display: none;
                li {
                    text-align: center;
                    padding: 0.6rem;
                }
                a {
                    color: black;
                    padding: 0.6rem;
                }
                a:hover {
                    color: white;
                }
                li:hover {
                    background: $button-color;
                }
            }
            .shop {
                background: white;
                position: absolute;
                top: 50%;
                right: -10%;
                z-index: 2;
                text-transform: uppercase;
                font-size: 10px;
                color: $color2 !important;
                width: 319px;
                -webkit-box-shadow: 1px 10px 15px #242424;
                box-shadow: 1px 10px 15px #242424;
                line-height: 2;
                display: none;
                h3 {
                    font-weight: normal;
                    font-size:1rem;
                }
                img {
                    float: left;
                    width: 60px;
                }
                .shop-buttons {
                    a:nth-child(1) {
                        background: $button-color;
                    }
                    a:nth-child(2) {
                        background: $button-color2;
                    }
                }

            }
        }

    }
}

.header-bottom > div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    p a {
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

.header-bottom > div:nth-child(1) {
    margin-top: 10px;
}
