//---NAV---
nav.header-menu {
    background: $color1;
    padding: 0.4rem 0;
    position: relative;
    a {
        color: white;
    }
    .item-nav div {
        div{
            display:flex;
            align-items:center;
            justify-content: center;
            text-align: center;
            height:120px;
        }
        div:hover {
            @include transition();
        }

    }
    .item-nav:nth-child(1) div {
        div:nth-child(1) {
            background: #0A59C2;
        }
        div:nth-child(2) {
            background: #ED4334;
        }
        div:nth-child(3) {
            background: #FDAB00;
        }
    }
    .item-nav:nth-child(2) div {
        div:nth-child(1) {
            background: #00A000;
        }
        div:nth-child(2) {
            background: #6239B9;
        }
        div:nth-child(3) {
            background: #A400AE;
        }
    }
    .item-nav:nth-child(3) div {
        div:nth-child(1) {
            background: #D34827;
        }
        div:nth-child(2) {
            background: #459D6D;
        }
        div:nth-child(3) {
            background: #00BFF5;
        }
    }
    
    .dropdown-nav {
        position: absolute;
        background: white;
        z-index: 1;
        -webkit-box-shadow: 1px 10px 15px #242424;
        box-shadow: 1px 10px 15px #242424;
        padding: 3rem;
        p {
            margin: 0 100px;
            text-transform: uppercase;
            color: $color2;
        }
    }
}
